.hero{
    margin-bottom:20px;
    background: url(https://www.jakpost.travel/wimages/large/37-373531_anime-twitter-banner-sao.png);
    background-size:cover;
}
.title{
    color: white;
}
button{
    margin:15px;
}
.columns{
    display:flex
}

